/* word_container */
.word_container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #AAE6C1;
}

.word_container > section header {
    position: relative;
    margin: 4.86842rem auto 1.31579rem auto;
    width: 16.44737rem;
    height: 16.44737rem;
}

.word_container > section header audio {
    display: none;
}

.word_container > section h2 {
    font-size: 1.57895rem;
    color: #ffffff;
    text-align: center;
}

.word_container > section h3 {
    font-size: 1.31579rem;
    text-align: center;
    margin-top: 0.65789rem;
}

/* 播放控制区域 start */
.word_play_control {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8.22368rem;
    background: url("images/img_radio_bg.png") no-repeat center center;
    background-size: cover;
}
/* 播放 */
.word_play_control > header {
    position: relative;
    top: -3.28947rem;
    margin: 0 auto;
    width: 6.57895rem;
    height: 6.57895rem;
    border-radius: 50%;
    background-color: #ffffff;
}

.word_play_control > header > div {
    position: relative;
    left: 9%;
    top: 9%;
    width: 82%;
    height: 82%;
    border-radius: 50%;
}
/* 向左 */
.word_play_control > section {
    position: absolute;
    top: -0.52632rem;
    left: 3.28947rem;
    width: 3.28947rem;
    height: 3.28947rem;
    border-radius: 50%;
    background-color: #ffffff;
}

.word_play_control > section > div {
    position: relative;
    left: 9%;
    top: 9%;
    width: 82%;
    height: 82%;
    border-radius: 50%;
    background: url("images/btn_radio_back.png") no-repeat center center;
    background-size: contain;
}
/* 向右 */
.word_play_control > footer {
    position: absolute;
    top: -0.52632rem;
    right: 3.28947rem;
    width: 3.28947rem;
    height: 3.28947rem;
    border-radius: 50%;
    background-color: #ffffff;
}

.word_play_control > footer > div {
    position: relative;
    left: 9%;
    top: 9%;
    width: 82%;
    height: 82%;
    border-radius: 50%;
    background: url("images/btn_radio_next.png") no-repeat center center;
    background-size: contain;
}